In [2]:
import pandas as pd

# Path to the Excel file
file_path = '/Users/lecoreyjohnson/Downloads/COVID-19 County Vaccine Data-2 (2).xlsx'

# Load the Excel file
vaccine_data = pd.read_excel(file_path)

# Filter out the row for the entire state of Alabama to focus only on counties
county_data = vaccine_data[vaccine_data['County'] != 'Alabama']

# Calculate the vaccination rate for each county
county_data['Complete Vaccination Rate (%)'] = (county_data['People Completely Vaccinated'] / county_data['Population > 16']) * 100

# Sort the counties by the complete vaccination rate in descending order
sorted_counties = county_data.sort_values(by='Complete Vaccination Rate (%)', ascending=False)

# Set option to display all rows
pd.set_option('display.max_rows', None)

# Display the sorted data
sorted_counties[['County', 'Complete Vaccination Rate (%)']]

/var/folders/lb/d0y2xf5j7td_v6xt26fcbv9h0000gn/T/ipykernel_6949/1425879295.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_data['Complete Vaccination Rate (%)'] = (county_data['People Completely Vaccinated'] / county_data['Population > 16']) * 100

        County  Complete Vaccination Rate (%)
45     Madison                      35.058419
33        Hale                      34.755307
43     Lowndes                      34.351224
58      Shelby                      34.289074
37   Jefferson                      34.073064
6      Bullock                      33.966934
53       Perry                      33.721842
46     Marengo                      33.287388
17     Colbert                      31.654025
66      Wilcox                      31.649475
62  Tallapoosa                      31.456388
41         Lee                      31.444859
42   Limestone                      30.919476
32      Greene                      29.897670
52      Morgan                      29.584138
44       Macon                      29.455391
39  Lauderdale                      29.397492
13      Clarke                      29.053425
9     Chambers                      29.046130
19       Coosa                      29.034981
34       Henry                      28.677710
63  Tuscaloosa                      28.424447
2      Baldwin                      28.008278
49      Mobile                      27.801118
64      Walker                      27.616064
22     Cullman                      27.504536
51  Montgomery                      27.431276
35     Houston                      27.244480
28      Etowah                      27.111120
18     Conecuh                      26.957819
60      Sumter                      26.490706
59   St. Clair                      26.281392
14        Clay                      26.225916
24      Dallas                      26.207119
40    Lawrence                      26.202770
30    Franklin                      26.114406
61   Talladega                      25.953387
12     Choctaw                      25.919453
8      Calhoun                      25.916993
48    Marshall                      25.889185
7       Butler                      25.642740
21    Crenshaw                      25.493755
50      Monroe                      25.384652
29     Fayette                      25.377254
65  Washington                      25.039814
26      Elmore                      24.642589
55        Pike                      24.542490
47      Marion                      24.531287
1      Autauga                      24.489431
38       Lamar                      24.389714
3      Barbour                      23.859678
5       Blount                      23.809359
67     Winston                      23.792797
10    Cherokee                      23.480684
36     Jackson                      23.300275
31      Geneva                      23.105325
54     Pickens                      22.428500
16      Coffee                      22.192503
4         Bibb                      22.144324
11     Chilton                      22.112182
20   Covington                      21.725283
23        Dale                      21.719678
56    Randolph                      21.217322
25      DeKalb                      20.864738
27    Escambia                      19.476974
15    Cleburne                      19.154930
57     Russell                      15.441418